@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.main {
    height: 100vh;
    background-color: beige;
    object-fit: cover;
}

.link-box {
    height: 200px;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url("../assets/profile.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.typewriter {
    min-width: 300px;
}

.typewriter h6 {
    width: 320px;
    color: #333;
    font-size: 22px;
    font-family: "Dancing Script", cursive;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    animation: typing 3.5s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

a {
    width: 150px;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 38ch;
    }


}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}